@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme  {
  --spacing-25:   0.125rem;
  --spacing-50:   0.25rem;
  --spacing-100:  0.5rem;
  --spacing-150:  0.75rem;
  --spacing-200:  1rem;
  --spacing-300:  1.5rem;
  --spacing-400:  2rem;
  --spacing-500:  2.5rem;
  --spacing-600:  3rem;
  --spacing-800:  4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
  --spacing-1600: 8rem;

  --color-blue-900: #0b0d17;
  --color-blue-300: #D0D6F9;
  --color-white: #FFFFFF;

  --font-bellefair: "Bellefair", serif;

  --text-preset-1: 400 9rem/1.719 var(--font-bellefair);

  --text-preset-2: 400 6.25rem/1.146 var(--font-bellefair);

  --text-preset-3: 400 3.5rem/0.642 var(--font-bellefair);

  --text-preset-4: 400 2rem/0.367 var(--font-bellefair);
  
  --text-preset-5: 400 1.75rem/0.336 var(--font-bellefair);
  --text-preset-5-tracking: 4px;
  
  --text-preset-6: 400 1.75rem/0.321 var(--font-bellefair);

  --text-preset-7: 400 0.875rem/0.168 var(--font-bellefair);
  --text-preset-7-tracking: 2px;

  --text-preset-8: 400 1rem/0.192 var(--font-bellefair);
  --text-preset-8-tracking: 2px;

  --text-preset-9: 400 1.125rem/0.180 var(--font-bellefair);
}

@utility text-preset-5 {
  font: var(--text-preset-5);
  letter-spacing: var(--text-preset-5-tracking);
}

@utility text-preset-7 {
  font: var(--text-preset-7);
  letter-spacing: var(--text-preset-7-tracking);
}

@utility text-preset-8 {
  font: var(--text-preset-8);
  letter-spacing: var(--text-preset-8-tracking);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
